body, td, p {
	font-family: Lucida, "Lucida Console", Consolas, Courier, sans-serif;
	font-size: 14px;
}

input {
	font-family: Lucida, "Lucida Console", Consolas, Courier, sans-serif;
	font-size: 14px;
}
